<h1>NAJA Scholarship Committee Evaluations Portal</h1>
<h2>About the scholarship</h2>
<p>Begun in 1962, the NAJA Graduate Scholarship Program has awarded more than 464 grants totaling over $997,859.00 for graduate study in fields which address the special needs of children and youth.  Contributions from Junior Auxiliary Chapters, the National Association, memorials and honorary gifts from individuals and groups support the program. Donations to the NAJA Graduate Scholarship Program are distributed in full the following year.</p>

<p>The Betty W. Robbins Endowed Scholarship was established in 1995 by the Jackie Robbins family in memory of Betty Robbins of Ruston, Louisiana, who served the National Association of Junior Auxiliaries, Inc. as Director of Region V, First Vice-President and President (1992-1993).  Contributions from Junior Auxiliary Chapters, the National Association, memorials, and honorary gifts from individuals and groups support the Program.  The  Robbins family makes matching funds available annually to challenge Chapters to increase their support of the scholarship program.  Donations made to the Betty W. Robbins Endowed Scholarship Fund are placed in that fund, and a portion of the earnings are distributed the following year.</p>

